#hello{
    color: rgb(152, 152, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#outest{
    color: rgb(133, 84, 206);
    font-weight: 900;
    font-size: xx-large;
}

#jsxx{
    color: gold;
    font-weight: bolder;
}

#FuncComp{
    color: tomato;
}